*{
	margin: 0;
	padding: 0;
}
h3.title_admin{
	text-align: center;
}
.wrapper{
	width: 90%;
	height: auto;
	border: 1px dashed #000;
	margin: 5px;
}
.menu{
	width: 90%;
	height:50px;
	margin: auto; 
	background:rgb(33,34,38);
	margin-top: 5px;
	margin-right: 5px;
}
ul.list_menu{
	padding: 0;
	margin: 0 auto;
	list-style: none;
	width: 40%;
} 
ul.list_menu li {
	float: left;
	margin: 7px;
	padding: 5px;
	background: pink;
}
ul.list_menu li:hover{
	background: red;
}
ul.list_menu li a{
	text-decoration: none;
	text-align: center;
}